h1{
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.colours__colour + .colours__colour {
    margin-left:20px;
}
.colours__colour {
    background-color: #EEE;
    border: .25rem solid #FFF;
    box-shadow: 0 0 1px #000;
    padding: 20px;
    float: left;
    height: 150px;
    width: 150px;
}
.colours__colour--a {
    background-color: #DD5C8D;
    width: 500px;
    height: 250px;
}

.colours__colour--b {
    background-color: #2E436A;
    width: 500px;
    height: 250px;
}
.colours__colour--c{
    width: 500px;
    height: 250px;
}

.row{
    padding: 15px;
}

form {
    background-color: #2E436A;
    padding:15px;
}

.square-1{
    width: 800px;
    height: 250px;
    background-color:#2E436A;
    margin:20px;
}

.square-2{
    width: 800px;
    height: 250px;
    background-color:#DD5C8D;
    margin:20px;
}

.square-3{
    width: 800px;
    height: 250px;
    margin:20px;
}

.list-group-item active{
    background-color:#2E436A;
}