h1{
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    padding-top: 20px;
    padding-bottom: 20px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}